APP_NAME=HelpLink
ENV=development
DEBUG=True
SECRET_KEY=helplink_dev_secret_key_change_in_prod_2026_987654321
DATABASE_URL=sqlite:///./helplink.db
ADMIN_INITIAL_EMAIL=admin@helplink.org
ADMIN_INITIAL_PASSWORD=AdminSecurePassword123!
