# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv

# Database
*.db
*.sqlite
*.sqlite3

# Environment & Secrets
.env
*.env
.env.*
!.env.example
secrets/


# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE, Tooling & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.agents/
skills-lock.json
